<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IGSDataDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IGSDataDownloader.Properties.Settings>
            <setting name="SelectedSites" serializeAs="String">
                <value>bjfs chan daej kunm shao suwn wuhn</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>WHU</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>anyone@any.com</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>C:\Users\英明\Downloads</value>
            </setting>
        </IGSDataDownloader.Properties.Settings>
    </userSettings>
</configuration>